; qualification module
; proposed settings
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/qualification
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2021–2023, 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;
; Syntax of this configuration file:
; 
; [key]: setting key
; - Field "description": description, just for information.
; - Field "type": type of setting, e. g. mail, number, foreign_key, etc.
; - Field "default": default value
; - Field "db_field": corresponding database field (table.field)
;

[qualification_alternate_series]
description = "Series path of the alternative tournament (split of open and female tournaments)"
type = path
scope[] = categories
subtree[] = series
example[] = "qualification_alternate_series=dem-u10"
example[] = "qualification_alternate_series=dem-u12"
example[] = "qualification_alternate_series=dem-u8"

[qualification_federation_registration]
description = "Allow federations to register players without assigned quota"
type = bool
scope[] = categories
subtree[] = series

[qualification_place_distribution]
description = "Distribution of federation quota places"
list = 1
type = int
scope[] = categories
subtree[] = series
example[] = "qualification_place_distribution=[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"

[qualification_quota]
description = "Assign federation quotas to this tournament series"
type = bool
scope[] = categories
subtree[] = series

[qualification_quota_dem]
description = "DEM single-tournament quota"
type = bool
scope[] = categories
subtree[] = series

[qualification_quota_dvm]
description = "DVM team-tournament quota"
type = bool
scope[] = categories
subtree[] = series

[qualification_regional_groups]
description = "Federation contact participates in DVM regional groups"
type = bool
scope[] = contacts

[qualification_url_path]
description = "URL slug segment for registration-type participation categories"
scope[] = categories
subtree[] = participations
example[] = "qualification_url_path=direkt"
example[] = "qualification_url_path=organisator"

[qualification_younger_series]
description = "Series path of the next younger age group"
type = path
scope[] = categories
subtree[] = series
example[] = "qualification_younger_series=dem-u10"
example[] = "qualification_younger_series=dem-u10w"
example[] = "qualification_younger_series=dem-u12"

[qualification_younger_series_alternate]
description = "Series path of the next younger age group when open and female tournaments are split"
type = path
scope[] = categories
subtree[] = series
example[] = "qualification_younger_series_alternate=dem-u10"
